@model IEnumerable<QuanLy.src.Abstractions.Data.KhachHang>

@{
    ViewData["Title"] = "Index";
}

<h3>Danh sách khách hàng</h3>

<p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCreate">
        <i class="fas fa-user-plus"></i> Add
    </button>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HoTenKH)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaChi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DienThoai)
            </th>
        </tr>
    </thead>
    <tbody id="data-table"></tbody>
</table>
<hr />

<!-- Modal create -->
<div class="modal fade" id="modalCreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-new">Thêm nhân viên mới</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="MaKH" class="control-label"> Mã khách hàng </label>
                                <input type="text" class="form-control" id="MaKH" />
                            </div>
                            <div class="form-group">
                                <label for="DiaChi" class="control-label"> Địa chỉ </label>
                                <input type="text" class="form-control" id="DiaChi" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="HoTenKH" class="control-label"> Họ Tên </label>
                                <input type="text" id="HoTenKH" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="DienThoai" class="control-label"> Điện thoại </label>
                                <input id="DienThoai" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSave">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Edit -->
<div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-new">Cập nhật thông tin khách hàng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="MaKH" class="control-label"> Mã khách hàng </label>
                                <input type="text" class="form-control" id="editMaKH" readonly/>
                            </div>
                            <div class="form-group">
                                <label for="DiaChi" class="control-label"> Địa chỉ </label>
                                <input type="text" class="form-control" id="editDiaChi" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="HoTenKH" class="control-label"> Họ Tên </label>
                                <input type="text" id="editHoTenKH" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="DienThoai" class="control-label"> Điện thoại </label>
                                <input id="editDienThoai" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnEditSave">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetData();

            //Create
            $('#btnSave').click(function () {
                if (IsValidate()) {
                    var model = {
                        "MaKH": $('#MaKH').val(),
                        "HoTenKH": $('#HoTenKH').val(),
                        "DiaChi": $('#DiaChi').val(),
                        "DienThoai": $('#DienThoai').val()
                    };
                    $.ajax({
                        url: '/QuanLy/KhachHangs/Create',
                        dataType: 'json',
                        type: 'POST',
                        data: model,
                        success: function (res) {
                            if (res.success) {
                                $('#modalEdit').modal('hide');
                                GetData();
                            }
                        },
                        error: function (xhr) { alert('error'); }
                    });
                }
            });

            //Edit
            $('body').on('click', '.btnEdit', function () {
                var id = $(this).data('id');
                console.log("edit clicked " + id);
                GetDataById(id);
            });

            //Save info from modal edit/update
            $('#btnEditSave').click(function () {
                var model = {
                    "MaKH": $('#editMaKH').val(),
                    "HoTenKH": $('#editHoTenKH').val(),
                    "DiaChi": $('#editDiaChi').val(),
                    "DienThoai": $('#editDienThoai').val()
                };
                $.ajax({
                    url: '/QuanLy/KhachHangs/Edit',
                    dataType: 'json',
                    type: 'POST',
                    data: model,
                    success: function (res) {
                        alert("Cập nhật thành công.");
                        if (res.success) {
                            $('#modalEdit').modal('hide');
                            GetData();
                        }
                    },
                    error: function (xhr) { alert('error'); }
                });
            });

            //Delete
            $('body').on('click', '.btnDelete', function () {
                var id = $(this).data('id');
                console.log("delete clicked " + id);
                var conf = confirm('Xác nhận xóa khách hàng.');
                if (conf) {
                    Delete(id);
                }
            });
        });

        function GetDataById(id) {
            $.ajax({
                url: '/QuanLy/KhachHangs/GetDataById',
                type: 'GET',
                data: { id: id },
                success: function (res) {
                    if (res.success) {
                        if (res.data != null) {
                            $('#editMaKH').val(res.data.result.maKH);
                            $('#editHoTenKH').val(res.data.result.hoTenKH);
                            $('#editDiaChi').val(res.data.result.diaChi);
                            $('#editDienThoai').val(res.data.result.dienThoai);
                            $('#modalEdit').modal('show');
                        }
                    }
                },
                error: function (xhr) { alert('error'); }
            });
        }

        function GetData() {
            $.ajax({
                url: '/QuanLy/KhachHangs/GetData',
                type: 'GET',
                success: function (res) {
                    if (res.totalItem > 0) {
                        var listKH = res.data;
                        var html = "";
                        for (let i = 0; i < res.totalItem; i++) {
                            url = "/QuanLy/KhachHangs/Details/" + listKH[i].maKH;
                            html += "<tr id='tr" + listKH[i].maKH + "'>";
                            html += "<td>" + listKH[i].hoTenKH + "</td>";
                            html += "<td>" + listKH[i].diaChi + "</td>";
                            html += "<td>" + listKH[i].dienThoai + "</td>";
                            html += "<td><a class='btn btn-warning btnEdit' data-id ='" + listKH[i].maKH + "'><i class='fas fa-user-edit'></i></a> | " +
                                "<a href='" + url + "' class='btn btn-info btnDetails' data-id ='" + listKH[i].maKH + "'><i class='fas fa-address-card'></i></a> | " +
                                "<a class='btn btn-danger btnDelete' data-id='" + listKH[i].maKH + "'><i class='fas fa-user-minus'></i></a></td> ";
                            html += "</tr>";
                        }
                        $('#data-table').html(html);
                    }
                },
                error: function (xhr) { alert('error'); }
            });
        }

        function Delete(id) {
            $.ajax({
                url: '/QuanLy/KhachHangs/Delete',
                type: 'POST',
                data: { id: id },
                success: function (res) {
                    if (res.success) {
                        $('#tr' + id).remove();
                        GetData();
                    } else {
                        console.log("Error!");
                    }
                },
                error: function (xhr) { alert('error'); }
            });
        }

        function IsValidate() {
            var check = false;
            if ($('#MaKH').val() == '') {
                $('#MaKH').next().html('Mời nhập mã khách hàng!');
                check = false; return;
            } else {
                $('#MaKH').next().html('');
                check = true;
            }

            if ($('#HoTenKH').val() == '') {
                $('#HoTenKH').next().html('Mời nhập họ tên khách hàng!');
                check = false; return;
            } else {
                $('#HoTenKH').val() == '';
                check = true;
            }
            return check;
        }

    </script>
}