@model QuanLy.src.Abstractions.Data.ChiTietHoaDon

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ChiTietHoaDon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-area="QuanLy" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="MaHD" />*@
            @*<input type="hidden" asp-for="MaSP" />*@

            <div class="form-group">
                <label asp-for="MaHD" class="control-label"> Mã hóa đơn </label>
                <input asp-for="MaHD" class="form-control" value="@ViewData["MaHD"]" readonly />
            </div>
            <div class="form-group">
                <label asp-for="MaSP" class="control-label"> Mã sản phẩm </label>
                <input asp-for="MaSP" class="form-control" value="@ViewData["MaSP"]" readonly />
            </div>
            <div class="form-group">
                <label asp-for="SoLuong" class="control-label"> Số lượng </label>
                <input asp-for="SoLuong" class="form-control" />
                <span asp-validation-for="SoLuong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-area="QuanLy" asp-controller="HoasDons" asp-action="Details" asp-route-id="@Model.MaHD">Back to List</a>
    @*<a asp-area="QuanLy" asp-action="Index">Index</a>*@
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
